.sendButton{
  display: block;
  width: fit-content;
  background-color:  #007bff;
  cursor: pointer;
  border-radius: 6px;
  padding:7px 5px;
  margin-left: 15px;
  margin-top:20px;
  font-size: 20px;

}
.sendButton:hover{
  background-color:  #2f94ff;

}

label{
font-size: 20px;
margin-left: 12px;
font-weight: 420;
}

input{
  margin-left: 5px;
}

input:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

.description{
  display: inline-block;
}
